Package: daniel.batman
Name: Batman
Version: 0.0.1
Architecture: iphoneos-arm
Description: Yes, father. I shall become a bat.
Maintainer: daniel
Author: daniel
Section: Tweaks
Depends: mobilesubstrate
