Package: daniel.batman
Name: Batman
Version: 0.0.1
Architecture: iphoneos-arm
Description: Display much more battery information
Maintainer: daniel
Author: daniel
Section: Tweaks
Depends: mobilesubstrate
